.date-hour {
    text-align: center;
}

#dialog-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

#alert-checkpoint-registered {
    border: 1px solid black;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: lightgreen;
    padding: 10px;
}
